@{
    ViewBag.Title = "CommunityProfile";
}

   <section id="page-title">
            <div class="container clearfix">
                <h1>Our Profile</h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#">Projects</a>
                    </li>
                    <li class="active">Our Profile</li>
                </ol>
            </div>
        </section>
        <!-- #page-title end -->
        <section id="content">
            @*<div class="section parallax nomargin notopborder dark" style="background-image: url(&quot;images/parallax/2.jpg&quot;); padding: 100px 0px; background-position: 50% 68.8172px;" data-stellar-background-ratio="0.3">
                <div class="container clearfix">
                    <div class="emphasis-title center nomargin">
                        <h2 style="font-size: 52px;">LONG PLAIN DEPARTMENTS</h2>
                        <div class="line divcenter" style="margin-top: 20px; margin-bottom:20px; width:200px;"></div>
                        <h3>FIRST NATION PROFILE</h3> </div>
                </div>
            </div>*@
            <div class="content-wrap">
                <div class="container clearfix">
                    <div class="single-post nobottommargin">
                        <!-- Single Post
                        ============================================= -->
                        <div class="entry clearfix" style="border-bottom: none; padding-bottom:0;">
                            <!-- Entry Title
                           ============================================= -->
                            <div class="tabs side-tabs tabs-bordered clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" id="tab-5">
                                <ul class="tab-nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">

                                    <!--========== 1 Arrow Head ==========-->
                                    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-17" aria-labelledby="ui-id-37" aria-selected="true" aria-expanded="true"> <a href="#tabs-17" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-37">Arrow Head</a> </li>

                                    <!--========== 2 Economc Development ==========-->
                                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-18" aria-labelledby="ui-id-38" aria-selected="false" aria-expanded="false"><a href="#tabs-18" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-38">Economc Development</a>
                                    </li>

                                    <!--========== 3 Education ==========-->
                                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-19" aria-labelledby="ui-id-39" aria-selected="false" aria-expanded="false"><a href="#tabs-19" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-39">Education</a>
                                    </li>

                                    <!--========== 4 Employment And Training Services ==========-->
                                    <li class="hidden-phone ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-20" aria-labelledby="ui-id-40" aria-selected="false" aria-expanded="false"><a href="#tabs-20" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-40">Employment And Training Services</a>
                                    </li>

                                    <!--========== 5 Housing ==========-->
                                    <li class="hidden-phone ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-21" aria-labelledby="ui-id-41" aria-selected="false" aria-expanded="false"><a href="#tabs-21" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-41">Housing</a>
                                    </li>

                                    <!--========== 6 Long Plain First Nation Trust ==========-->
                                    <li class="hidden-phone ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-22" aria-labelledby="ui-id-42" aria-selected="false" aria-expanded="false"><a href="#tabs-22" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-42">Long Plain First Nation Trust</a>
                                    </li>

                                    <!--========== 7 Long Plain Health Services ==========-->
                                    <li class="hidden-phone ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-23" aria-labelledby="ui-id-43" aria-selected="false" aria-expanded="false"><a href="#tabs-23" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-43">Long Plain Health Services</a>
                                    </li>

                                    <!--========== 8 Post Secondary Education ==========-->
                                    <li class="hidden-phone ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-24" aria-labelledby="ui-id-44" aria-selected="false" aria-expanded="false"><a href="#tabs-24" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-44">Post Secondary Education</a>
                                    </li>

                                    <!--========== 9 Public Works ==========-->
                                    <li class="hidden-phone ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-25" aria-labelledby="ui-id-45" aria-selected="false" aria-expanded="false"><a href="#tabs-25" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-45">Public Works</a>
                                    </li>

                                </ul>

                                <div class="tab-container">

                                    <!--========== 1 Arrow Head ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-17" aria-labelledby="ui-id-37" role="tabpanel" aria-hidden="false" style="display: block;">

                                        <h2>Arrowhead Development Corporation</h2>

                                        <p>The Arrowhead Development Corporation (ADC) was established to oversee the current business ventures and explore new business concepts for the First Nation designated lands. ADC is governed by the Board of Directors and staffed by a Chief Executive Officer, Financial Controller and Finance Department, Human Resources Officer, Special Projects Officers (2) and business employees.</p>

                                        <p>ADC manages oversees businesses owned and operated on its three reserves; Long Plain Reserve No. 6, Keeshkeemaquah Reserve (Portage la Prairie) and Long Plain Madison Indian Reserve (Winnipeg). Businesses currently managed;</p>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>Keeshkeemaquah Conference and Gaming Centre </h2>

                                        <p>
                                            The Business offers a 580 seat capacity conference centre and boardroom facilities, nightly bingos, video lottery terminals, texas hold-em events and security on-site.</p>

                                        <img src="@Url.Content("~/Content/images/departments/arrowhead/img1.jpg")" alt="Blog Single">
                                        <footer>Source: Photo provided by GIS Technicians, Long Plain Lands Department 2016</footer>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>

                                        <h2>Arrowhead Portage Gas Bar </h2>

                                        <img src="@Url.Content("~/Content/images/departments/arrowhead/img2.jpg")" alt="Blog Single">
                                        <footer>Source: Photo provided by GIS Technicians, Long Plain Lands Department 2016</footer>
                                        <br>
                                        <p>Arrowhead Development Corporation leases 20,000 square foot office complex which includes office and boardrooms space to First Nation businesses and organizations. </p>

                                        <img src="@Url.Content("~/Content/images/departments/arrowhead/img3.jpg")" alt="Blog Single">
                                        <footer>Source: Photo provided by GIS Technicians, Long Plain Lands Department 2016</footer>
                                        <br>

                                        <p>
                                            Arrowhead Development Corporation leases office and classroom space in the Rufus Prince Building. The second floor is leased to Dakota Ojibway Police Services and is headquarters of the police force. Other lessees include the Long Plain First Nation Trust, Mature Grade 12 Program, LPFN Lands Department, LPFN Gaming Authority and Oodanooketoh Inc. </p>

                                        <img src="@Url.Content("~/Content/images/departments/arrowhead/img4.jpg")" alt="Blog Single">
                                        <footer>Source: Map produced by GIS Technicians, Long Plain Lands Department 2016</footer>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>ADC – LPFN Project and Program contributions</h2>

                                        <p>Annual Pow-Wow Celebration, Adult Recreation Arts & Crafts, Automotive, Band Housing, Administration Conferences, Canada Day Celebrations, Church, Community Christmas Dinner, Daycare, Funeral Expenses, Geothermal Project, Health, High School Grad Incentives. Housing Authority – CMHC, Loans Reduction, Mature Grade 12, Membership Donations, Non-Insured. Heath Benefits, Rez Radio, School Lunch Program, Tribal Government Operations, Student Expenses, Veteran’s Pow-Wow, and Youth Recreation.
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>Arrowhead Development Corporation Milestones and Highlights</h2>
                                        <ul>
                                            <li>
                                                <p>Arrowhead employs approximately 120 employees working on the 3 reserves with the number of employees increasing to about 150 during the construction season. </p>
                                            </li>
                                            <li>
                                                <p>The Crossing VLTs closed temporally while MTS upgraded the network pipeline into the building to allow for the new VLT terminals.</p>
                                            </li>
                                            <li>
                                                <p>Rez Radio Bingo added to the latest of ADC’s businesses.</li>
                                            <li>
                                                <p>High demand of customers at the Madison Petro-Canada caused the business to offer 24 hours 7 days a week service which was met with great appreciation.</p>
                                            </li>
                                            <li>
                                                <p>The combined net revenue of Arrowhead’s businesses, after operating expenses, are disbursed by the Board of Directors for the following areas:</p>
                                            </li>

                                        </ul>
                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                    </div>

                                    <!--========== 2 Economc Development ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-18" aria-labelledby="ui-id-38" role="tabpanel" aria-hidden="true" style="display: none;">

                                        <h2>Economc Development</h2>

                                        <p>Indigenous Northern Affairs Canada provides annual funding to administer the Community Economic Development on the Long Plain Reserve. The First Nation (LPFN) and Arrowhead Development Corporation contributes to majority of funds towards the LPFN economic development program and projects. As well, Manitoba Hydro Community Development Initiative contributes an annual payment towards community development projects. </p>
                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>

                                        <h2>Contact Information/Address</h2>
                                        <p>111 Yellowquill Trail East Long Plain Reserve No.6 Band 287 - Treaty No. 1 Box 430 Portage La Prairie, Manitoba, R1N 3B7 Main Office Phone: 1-204-252-2731 Main Office Fax: 1-204-252-2012 Toll Free Number: 1-888-268-6438
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>Manitoba Bipole III & Community Development Initiative</h2>
                                        <p>Manitoba Bipole III is a high voltage direct current transmission project in Manitoba that will deliver renewable energy to southern Manitoba and the United States. Once completed, Bipole III proposes to strengthen reliability and security of Manitoba's electricity supply by reducing dependency on existing high voltage direct current transmission lines and the Dorsey Converter Station. Manitoba Hydro currently relies on these facilities to deliver over 70 per cent of the electricity produced in the province.</p>

                                        <p>Long Plain First Nation (LPFN) and Manitoba Hydro entered into a ten-year Community Development Initiative (CDI) Agreement. In the agreement Manitoba Hydro will provide an annual contribution to LPFN as a result of the vicinity of the Bipole III facilities to the First Nation community. The CDI will provide contribution support for development projects, which will benefit broad segments of the community. </p>
                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>13.2 Manitoba Hydro Geothermal Program</h2>
                                        <p>Through the Community Geothermal Program First Nations community members are engaged in being active participants in reducing their energy consumption. This is achieved through training local businesses on how to install and maintain geothermal heat pump systems while providing homeowners with convenient and affordable financing through Pay As You Save (PAYS) Financing. Aki Energy, a non-profit social enterprise group, is the main contact point for First Nation Communities seeking to use the Community Geothermal Program. In addition to helping the communities identify opportunities for geothermal technology use. Aki Energy also trains community members on how to install and maintain these systems. Benefits from the program:
                                        </p>
                                        <ul>

                                            <li>
                                                <p>Local economic benefits through job and business creation;</p>
                                            </li>
                                            <li>
                                                <p>Little to no upfront capital costs are required to install the geothermal heat pump systems by using PAYS Financing;</p>
                                            </li>
                                            <li>
                                                <p>Increased customer support as local businesses are trained to install and maintain the equipment;</p>
                                            </li>
                                            <li>
                                                <p>Lower energy consumption for homeowners.</p>
                                            </li>

                                        </ul>
                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>

                                    </div>

                                    <!--========== 3 Education ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-19" aria-labelledby="ui-id-39" role="tabpanel" aria-hidden="true" style="display: none;">

                                        <h2>Education </h2>

                                        <p>Long Plain School was built in 1988 on the Southwest Quarter of Section 22 Township 10 Range 8 WPM along the Yellowquill Trail East Road. The school building is 2200 square meters or 6661.8 square feet in size.</p>

                                        <img src="@Url.Content("~/Content/images/departments/education/img1.jpg")" alt="Blog Single">
                                        <footer>Long Plain School – Aerial photo courtesy of Long Plain Lands Department 2016</footer>

                                        <br>

                                        <p>Long Plain School is locally controlled school and delivers education from nursery level to grade nine. The enrolment at the school is 239 students. On-reserve students are transported to the school daily. The high school students are bused to various high schools in Portage la Prairie, Manitoba.</p>

                                        <p>The Ojibway language will be offered to the Nursery to Grade 6 in the 2016. Physical Education and Computer Programs are offered to all school grades. The School also offers Special Education Program, Breakfast and Lunch Programs for all students. The School employs 4 administrative staff, 13 teachers, 1 Special Education teacher, 1 Resource Councilor, 10 education assistants, 5 Bus Drivers, 1 Maintenance Worker, and 2 Janitors. The LPFN School contact information is:</p>

                                        <p>111 Yellowquill Trail East Long Plain Reserve No.6 Band 287 - Treaty No. 1 Box 430 Portage La Prairie, Manitoba, R1N 3B7 Phone Number 204-252-2326 Fax Number: 204-252-2786
                                        </p>

                                    </div>

                                    <!--========== 4 Employment And Training Services ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-20" aria-labelledby="ui-id-40" role="tabpanel" aria-hidden="true" style="display: none;">

                                        <h2>Employment And Training Services  </h2>

                                        <p>The Long Plain Employment and Training team consist of the Program Manager, Client Services Support Worker; Youth Coordinator; FNJF Coordinator and Receptionist. </p>

                                        <q>It takes team effort to provide excellent services to our band membership and thank them for their dedicated services throughout the year.</q>

                                        <p>The Long Plain Employment and Training Program (LPETP) provide services to the members of the First Nation. The LPETP is funded from the agreement between Service Canada and First Peoples Development Corporation. A five year agreement was renewed in 2010 and to expires in 2015 but has since been extended until 2017. LPETP is one of the thirty six sub-agreement holders in Southern Manitoba. First Peoples Development Corporation currently has five representatives from these sub-agreement holders who sit as Board members. This Board of Directors is the principle signers to the Master Agreement with Service Canada. </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>Aboriginal Skills and Employment Training Strategies</h2>

                                        <p>Aboriginal Skills and Employment Training Strategies (ASETS) is the successor strategy to the former AHRDA. ASETS was designed improve the employment opportunities of Aboriginal peoples and enable them to fully participate in the Canadian economy. There are three programs under the Agreement that is signed every five years and consist of: Labour Market Consolidated Revenue Fund, Labour Market EI, Youth and Childcare. This new agreement has given us more flexibility in how we administer the program for employment programs such as urban, youth and disability and training as well as child care support services. Under the new 2010 ASETS agreement there are 3 key strategic priorities set out by Service Canada:</p>

                                        <ul>
                                            <li>
                                                <p>Support Demand Driven Skills Development </p>
                                            </li>
                                            <li>
                                                <p>Foster partnership with private sector and across the whole-of- government (province and territories) </p>
                                            </li>
                                            <li>
                                                <p>Emphasis on accountability for improved results. </p>
                                            </li>
                                        </ul>

                                        <p>The new ASETS funding is administered though the FDPI that is designed to help Aboriginal people prepare for and find high demand jobs quickly, as well as emphasis on retention. The following programs and services that are included under this funding are: </p>

                                        <ul>
                                            <li>
                                                <p>Skills development </p>
                                            </li>
                                            <li>
                                                <p>Training for high demand jobs </p>
                                            </li>
                                            <li>
                                                <p>Job finding </p>
                                            </li>
                                            <li>
                                                <p>Youth employment and training </p>
                                            </li>
                                            <li>
                                                <p>Employment and training for urban and aboriginal peoples with disabilities</p>
                                            </li>
                                            <li>
                                                <p>Access to childcare support</p>
                                            </li>
                                        </ul>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>First Nations Job Fund </h2>

                                        <p>New funding was approved for Long Plain Employment & Training. This pilot project targets the youth between the ages of 18 – 24 who live in the community and are on Income Assistance through Social Services. This initiative is focused on training and preparing the youth for the workforce. It is a joint initiative with Enhanced Service Delivery through DOTC and is funded through AANDC. Funding for the First Nations Job Fund is through Service Canada. </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>Other Programs - Aboriginal Affairs and Northern Canada – Youth & Summer Student Employment</h2>

                                        <p>Long Plain Employment & Training administer and manage other programs that are funded through Aboriginal Affairs and Northern Canada; Youth Employment Program, Summer Student Employment Program that are proposal driven as well as the Occupational Skills Training program.</p>
                                        <p>Through the Aboriginal Affairs and Northern Canada Skills Link program there were 20 summer students between the ages of 15 – 17 years of age, who were employed for July and August 2015. They were placed in various capacities throughout the community as well as at the Arrowhead Development Corporation businesses and offices. </p>
                                        <p>Under the Youth Employment Program Long Plain Employment & Training accessed funding through Aboriginal Affairs and Northern Canada Skills Link program to employ 4 youth for 27 weeks from June 2015 to December 2015 and another four youth for 27 weeks from August 2015 to February 2016. </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i>
                                        </div>
                                        <h2>Partnerships </h2>

                                        <p>Long Plain Employment & Training continues to seek and is committed to developing partnerships to create employment and training opportunities such as the following partnerships.</p>

                                        <ul>
                                            <li>
                                                <p>IANE Chapter - There has been on-going meeting and discussion to develop a chapter in Portage that would include various partners in the Portage area. </p>
                                            </li>
                                            <li>
                                                <p> Dakota Ojibway Tribal Council - Active Measures - work in partnership to create employment opportunities within and/or surrounding city of Portage La Prairie, learn about case management “client driven approach to align quality health and support services for client’s achievement of safe, realistic and reasonable goals within a complex health, social and fiscal environment.” </p>
                                            </li>
                                            <li>
                                                <p>Long Plain Employment & Training is committed to partnering with other Long Plain First Nations programs to ensure the success of our clients in their educational, training and employment goals. </p>
                                            </li>
                                            <li>
                                                <p>Long Plain Employment & Training continues to develop a partnership other programs such as Long Plain Post-Secondary for tuition, textbooks and supplies. </p>
                                            </li>
                                            <li>
                                                <p>Partnership with Southern Regional Health Authority to discuss potential project to train and hire youth/adults for health careers. This partnership also includes other First Nations such as Sandy Bay and Swan Lake. </p>
                                            </li>
                                            <li>
                                                <p>Long Plain First Nation and Long Plain Housing partnered to train and employ Geo-Thermal Installers Trainees this year. Geo-thermal Installers consisted of a local crew to install geo-thermal energy efficient equipment in homes selected through Manitoba Hydro and through the MB Hydro Pays Pilot Program. </p>
                                            </li>
                                        </ul>

                                        <p>Long Plain Employment and Training 5010 Crescent Road W, Long Plain Reserve 6B Box 430 Portage la Prairie, MB R1N 3B7 Main Office phone: 204-857-7474 Main Office fax: 204-857-7480
                                        </p>

                                    </div>

                                    <!--========== 5 Housing ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-21" aria-labelledby="ui-id-41" role="tabpanel" aria-hidden="true" style="display: none;">

                                        <h2>Housing</h2>

                                        <p>The majority of housing on the community is managed by the Long Plain First Nation Housing Authority Ltd. The Housing Authority offices are located at the Long Plain First Nation Administration Office. </p>

                                        <p>Long Plain First Nation Housing Authority Ltd. 111 Yellowquill Trail East Long Plain Reserve No.6 Box 430 Portage La Prairie, Manitoba, R1N 3B7 Main Office Phone: 204-252-2731 Main Office Fax: 204-252-2012
                                        </p>

                                        <p>As of October 20, 2016, the Long Plain First Nation Housing Authority Ltd. maintains a total of 363 housing units located throughout the community. There are a total of 134 band owned units, 229 Canada Mortgage and Housing Corporation (CMHC) units and 1 privately owned home. Residents of the band owned units are responsible for the user fees, which includes water & sewer, garbage disposal, and hydro expenses. Tenants of the CMHC units are responsible for the user fees, hydro expenses as well as rent fees which are payable to the Long Plain Housing Authority.</p>

                                        <p>There are also 12 apartment style furnished units known as the 12-plex. The 12-plex is co-managed by the Long Plain Housing Authority Ltd. and Health Services, these 12 units were initially designed to assist low income and handicapped members. The majority of the units are now occupied by elderly members. </p>

                                        <img src="@Url.Content("~/Content/images/departments/housing/img1.jpg")" alt="Blog Single">
                                        <footer>Source: Aerial Drone Photo of LPFN Health Centre and 12-plex from Long Plain Lands Department 2016 </footer>
                                        <br>
                                        <p>Long Plain First Nation also owns 33 Urban Housing Units in Winnipeg, Brandon and Portage la Prairie, Manitoba. These units serve as another shelter resource for the members, who live in the urban centres. These units may be used for post-secondary students and members choosing to live in urban centres.</p>

                                        <img src="@Url.Content("~/Content/images/departments/housing/img2.png")" alt="Blog Single">
                                        <footer>Source: Aerial Drone Photo of a Portion of 39 lot subdivision from Long Plain Lands Department 2016</footer>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>

                                    </div>

                                    <!--========== 6 Long Plain First Nation Trust ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-22" aria-labelledby="ui-id-42" role="tabpanel" aria-hidden="true" style="display: none;">

                                        <h2>Long Plain First Nation Trust</h2>

                                        <p>In 1994, the First Nation negotiated with Canada to settle the remaining shortfall of unfulfilled reserve lands which were recalculated at 4,169 acres. The shortfall was equated into a dollar amount of 16.5 million dollars which $500,000 be paid for legal fees. </p>

                                        <p>The Long Plain First Nation Trust was created in 1994 and mandated to purchase and acquire a minimum of 4,169 acres of land and a maximum of 26,437 acres of land. Secondly, to negotiate the purchased lands be set aside as a reserve lands. To date, Long Plain First Nation Trust has purchased 5,735.80 acres of additional lands for the First Nation: of the purchased lands 1,907.97 acres has been converted to reserve status; the remaining 3827.83 acres purchased is in fee simple status and to be converted to reserve. </p>

                                        <p>Contact Information/Address Rooms 203, 210-214, 216 Rufus Prince Building 5000 Crescent Road West Portage la Prairie, Manitoba Phone: 204-856-1172 Fax: 204-856-1901
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered nobottommargin" style="text-align:center;">
                                                <thead>
                                                    <tr>

                                                        <th style="text-align:center;">Long Plain First Nation Trust Lands </th>
                                                        <th style="text-align:center;">Lands / Acres</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>Lands Purchased </td>
                                                        <td>5,735.80</td>

                                                    </tr>
                                                    <tr>

                                                        <td>Lands Converted to Reserve Status </td>
                                                        <td>1,907.97</td>
                                                    </tr>
                                                    <tr>

                                                        <td>Lands to be Converted to Reserve Status </td>
                                                        <td>3,827.83</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Trust Future Plans</h2>

                                        <p>The Trust has went through two exercises that would identify what the Trust should look like until its expiration in 2019, whereby all of its property will be transferred to Long Plain First Nation.</p>

                                        <p>The Trustees wish to have at least 8,000 acres and with a minimum Capital Account balance of $10,000,000.00 at the time of expiration. The Capital Account Minimum will ensure further benefit to the Tribal Members after expiration. Once the minimum threshold is met, the Trustees wish to use strictly interest for additional purchases.</p>

                                        <p>At his point, the Trust has acquired its minimum amount of land of 4,169 and can purchase up to 26,437 acres, which would be roughly twice the current size of the existing Long Plain Reserve.</p>

                                        <img src="@Url.Content("~/Content/images/departments/nationtrust/img1.jpg")" alt="Blog Single">
                                        <footer>Source: Map produced by GIS Technicians, Long Plain Lands Department 2016</footer>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>

                                    </div>

                                    <!--========== 7 Long Plain Health Services ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-23" aria-labelledby="ui-id-43" role="tabpanel" aria-hidden="true" style="display: none;">

                                        <h2>Long Plain Health Services</h2>

                                        <img src="@Url.Content("~/Content/images/departments/healthser/img1.jpg")" alt="Blog Single">

                                        <br>
                                        <br>
                                        <p>Health Director – Carol Beaulieu (204-252-2369/204-870-1998) Long Plain Health Services 141 Yellowquill Trail East Long Plain Reserve Box 580, Portage la Prairie, MB R1N 3B9 Main Office Phone: 204-252-2369 Main Office Fax: 204-252-2898
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Overview of Programs at Long Plain Health Services – September 2015</h2>

                                        <p>Aboriginal Head Start On-Reserve (AHS) – This preschool intervention supports the development of the physical, intellectual, social, spiritual and emotional well-being of First Nation children up to six years of age. The six core elements of AHSOR are 1) Promotion and Protection of First Nations Language and Culture, 2) Nutrition, 3) Education, 4) Health Promotion, 5) Social Support and 6) Parental and Family Involvement. AHS Coordinator – Lizzie Daniels 204-252-2774</p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Maternal Child Health (MCH) </h2>

                                        <p>The long term goal of the MCH Program is to support pregnant First Nations women and families with infants and young children, who live on-reserve, to reach their fullest developmental and lifetime potential. The MCH program aims for contact with all pregnant women and new parents, with long term home visiting for those families who require additional supports. MCH Coordinator – Maureen Sinclair 204-252-2553 1-888-834-9768</p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>National Native Alcohol and Drug Abuse Program (NNADAP)</h2>

                                        <p>Preventions strategies conducted by the program provide culturally appropriate program to educate and create awareness about addictions and addictions-free lifestyles. Intervention strategies provide assessments and referrals to treatment centres and the preparation of clients for entry into residential treatment, or other rehabilitation treatment programs. NNADAP Worker – Leona Meeches 204-252-2369
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Community Mental Health (BHC) </h2>

                                        <p>Assist First Nation communities to develop community-based approaches to mental health crisis management. Mental health and crisis intervention activities include assessments, counselling services, referrals for treatment and follow-up treatment, aftercare and rehabilitation to individuals and communities in crisis. Other enabling activities are providing peer support groups and services; culturally sensitive accredited training on crisis management; intervention; trauma and suicide prevention for community members and care givers. CHM Worker – Annette Whitehawk 204-252-2553 1-888-834-9768</p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Brighter Futures (BF) </h2>

                                        <p>This program is to improve the quality of, and access to, culturally appropriate, holistic and community-directed mental health, child development, and injury prevention services at the community level to help create healthy family and community environments in which members can thrive. The 5 Elements of Brighter Futures are: A) Mental Health, B) Child Development, C) Injury Prevention, D) Health Babies and E) Parenting Skills. BF Coordinator – Helen Myran 204-252-2369
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Canadian Prenatal Nutrition Program</h2>

                                        <p>The program primarily targets pregnant women and women with infants up to 12 months of age living on-reserve. The overall goal is to improve maternal and infant nutritional health. CPNP supports activities related to: 1) nutrition screening, education and counselling; 2) maternal nourishment; 3) breastfeeding promotion, education and support. </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Aboriginal Diabetes Initiative (ADI) </h2>

                                        <p>The program focuses on prevention and promotion which emphasize healthy eating and active living, and build awareness of diabetes around issues such as risk factors and complications. The program components are: promotion, prevention, screening and care, capacity, surveillance, research, evaluation and monitoring. CHR II – Evangeline Meeches 204-252-2369
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Non-Insured Health Benefits (NIHB)</h2>

                                        <p>The program provides a limited range of medically necessary health –related goods and services not provided through private insurance plans, provincial/territorial health or social programs or other publicly funded programs. These include drugs, dental care, vision care, medical supplies and equipment, mental health services, medical transportation to access medical services not available on reserve or in the community of residence. NIHB Coordinator – Margaret Meeches 204-252-2553 1-888-834-9768
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Community Health</h2>

                                        <p>This program is mandatory and it works to prevent and/or reduce the risks to human health associated with communicable diseases and exposure to hazards with the natural and built environment. The range of programs and activities can include public awareness, manage and control communicable diseases, encourage health behaviors, reduce environmental health risks, community development and capacity building initiatives. The components are Communicable Disease Control, Immunization Program, Tuberculosis Program, Blood Born Diseases and Sexually Transmitted Infections and Communicable Disease Emergencies. Community Health Nurse – Erin Funk 204-252-2369
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Environmental Health – Drinking Water </h2>

                                        <p>Provides training and education material to Community-Based Drinking Water Quality Monitors and provides drinking water quality testing. The monitoring is on-going and reporting and testing is done through FNIH. Water Monitor – Adam Woods 204-252-2369
                                        </p>

                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Home and Community Care</h2>

                                        <p>Home and Community Care is a coordinated system of home and community based health care services that enable First Nations of all ages with disabilities, chronic or acute illnesses and the elderly to receive the care they need in their homes and communities. The elements are: A) Structured Client Assessment, B) Managed Care, C) Home Care Nursing Services, D) Home Support Services, E) Provision or Access to In-Home Respite Care, F) Access to Medical Equipment and Supplies, G) Information and Data Collection, H)Management and Supervision, I) Established Linkages with other Services. HC Coordinator – Denise Hobson 204-252-2369
                                        </p>
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>

                                    </div>

                                    <!--========== 8 Post Secondary Education ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-24" aria-labelledby="ui-id-44" role="tabpanel" aria-hidden="true" style="display: none;">
                                        
                                        <h2>Long Plain Post-Secondary Program</h2>
                                        
                                        <p>Prior to 1997, the post-secondary was funded by Indigenous and Northern Affairs Canada through the Tribal Council and LPFN members entering or applying for post-secondary funding needed to apply through them. In 1997, the First Nation Council gain controlled of its post-secondary program from Dakota Ojibway Tribal Council and began administering the Post-Secondary Student Support Program (PSEP). </p>
                                        
                                        <ul>
                                            <li>
                                                <p>The PSEP funding is to assist LPFN members to gain access to post-secondary institutions in order for them to graduate with the qualifications and skills needed to pursue individual careers; </p>
                                            </li>
                                            <li>
                                                <p>To contribute to the achievement of Native self-government and economic self-reliance.</p>
                                            </li>
                                        </ul>
                                        
                                        <br>
                                        
                                        <p>Contact Information: 

Miskwaanakwadook Place
5010 Crescent Road West
Box 430 Portage La Prairie,
Manitoba, R1N 3B7
Phone: 204-857-7474			Fax Number 204-857-7480  
</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Student Eligibility</h2>
                                        
                                        <p>To be considered eligible for full-time or part-time educational sponsorship from the Long Plain Post-Secondary program, all NEW applicants must:</p>
                                        
                                        <ol>
                                            
                                            <li>
                                            <p>To be considered eligible for full-time or part-time educational sponsorship from the Long Plain Post-Secondary program, all NEW applicants must:</p>
                                            </li>
                                            
                                            <li>
                                            <p> Have been a treaty member of the Long Plain First Nation for at least 2 (two) consecutive years; or </p>
                                            </li>
                                            
                                            <li>
                                            <p> Was a previous Long Plain First Nation Tribal Member</p>
                                            <p><span>Exception:</span><i> A recently transferred tribal member who is already attending an eligible educational institution and enrolled in an eligible program; provided that the student is in good standing with the education institution, i.e. grade point average must be 2.00, Applicant must provide the latest transcript, history of educational sponsorship and financial history of sponsorship.</i></p>    
                                            </li>
                                            
                                            <li>
                                            <p>Complete and sign an application for educational sponsorship for the applicable academic session before the deadline date as follows: </p>
                                                <ul>
                                                <li>
                                                    <p class=".tab"><b>June 15</b>, for September to December (Fall Term)</p>
                                                </li>
                                                        <li>
                                                    <p><b>November 15</b>, for January to April (Winter Term)</p>
                                                </li>
                                            
                                                        <li>
                                                    <p><b>March 15</b>, for May to August (Spring & Summer – for University students or for students   
     whose program starts between May and August)
</p>
                                                </li>
                                            
                                                    
                                                </ul>
                                            </li>
                                            
                                            <li>
                                            <p>First year university students may start in September or January of each year, but not 
      during Spring or Summer Sessions.
</p>
                                            </li>
                                            
                                            <li>
                                            <p>Provide an acceptance letter for an eligible program from an eligible educational
institution. 
</p>
                                            </li>
                                            
                                            <li>
                                            <p>Provide a most recent transcript from the last education institution attended, if
available;
</p>
                                            </li>
                                            
                                            <li>
                                            <p>Provide details on the program and institution; ie; address, phone number & fax number to registrar and accounting offices, program content, program length, and all costs (tuition, books) associated with the program.</p>
                                            </li>
                                            
                                            <li>
                                            <p>Previous applicants who were discontinued or terminated from their respective programs must wait a period of 2 years before applying for educational sponsorship. Once the two-year waiting period has been completed, the applicant must submit a plan of achievement goals, a plan of action, and if discontinuation may have been a result of addictions, the applicant must provide proof of completion of addictions counseling and treatment.</p>
                                            </li>
                                            
                                            <li>
                                            <p>Must be a graduate with a Senior 4 high school or Mature Grade 12 diploma.          </p>
                                            </li>
                                            
                                        </ol>
                                        
                                        <p><i> (An exception may be made for older adults who may qualify to enter an institution on a Mature Student status.)</i></p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Community - Based Mature Grade 12 Program</h2>
                                        
                                        <p>Long Plain First Nation has had a Mature Grade 12 program operating on reserve since 2000.  We have had academic partnerships with Morris MacDonald School Division, The Collegiate, University of Winnipeg and most recently, with Yellowquill College.  </p>
                                        
                                        <p>We accept adult learners who are 19 years of age and older and is open to any individual whether they live on reserve or off reserve.  Transcripts and diplomas are awarded through the College.  Our Tribal Members receive a $200.00 monthly stipend from Arrowhead Development Corporation Incorporated.</p>
                                        
                                        <p>Classes are now held at the Rufus Prince Building. Transportation is provided for the students through the Arrowhead Development Corp. Inc.  </p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Community - Based Business Certificate Program</h2>
                                        
                                        <p>Long Plain First Nation went into a partnership venture with Yellowquill College to deliver a Business Certificate program for the 2014/2015 academic year.  This is a pilot project for this year only.  The instructor is Sheila Cole.  There were 25 students enrolled for this program which is offered at the old store building located near the #305 gas bar.  Transportation is provided for these learners through the Arrowhead Development Corp. Ltd.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>The White Buffalo Program</h2>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Regular High School Graduation Incentive Program</h2>
                                        
                                        <p>The White Buffalo and the teachings associated to this sacred being is held in reverence amongst the Anishinabe Nations of Turtle Island.  The White Buffalo represents for many – all the good gifts the Creator has given our Nation.  The White Buffalo indicates moments in time when we experience optimism, abundance, and good fortune.  It affirms that our prayers are being answered and indicates that our prophecies are fulfilled.  </p>
                                        
                                        <p>For many, the White Buffalo Teachings encourage us to be mindful of our past and to be hopeful about our future and that the Creator has given our Nation teachings, ethics, and moral codes to govern our daily public and private lives.  Included are the seven grandfather and grandmother philosophies and these are represented by our animal relatives:</p>
                                        
                                        <p>RESPECT – Buffalo, LOVE – Eagle, COURAGE – Bear, HONESTY – Sabe, WISDOM – Beaver, HUMILITY – Wolf, TRUST – Turtle</p>
                                        
                                        <p>It is in the name of this scared teacher, The White Buffalo, that this graduation incentive is awarded to those who are most nearest and dearest to our hearts, and that we are awe-inspired and proud of our Regular High School Grade Twelve Graduates.  </p>
                                        
                                        <p>It is imperative that our Nation support the endeavors and acknowledge the good deeds that our young citizens have achieved.  In spite of the struggles and hurdles that these young individuals have had to overcome socially, academically, and personally, they hung on and they have risen above those obstacles and barriers and have come out victorious.  </p>
                                        
                                        <p>This expression of gratitude will continue as long as the Long Plain First Nation has means to do so and is able to contribute to this worthwhile cause.   Fortunately, our community has been enjoying expanding prosperity and with this prosperity, it is essential that we encourage our graduates to seek a higher level of learning and hopefully, they will come back and offer their skills and expertise for future endeavors.  By supporting our children to stay in the regular school system, our Long Plain First Nation regular high school graduates are now deemed role models who have responsibility, as they are paving the path for those who will follow.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Incentive Awards</h2>
                                        
                                        
                                        <p>1. The Arrowhead Development Corporation will offer $1,000.00 as an incentive award on behalf of the Long Plain First Nation and its membership to all regular Grade Twelve High School Graduates, regardless of residence.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>On-Reserve Graduates Assistance</h2>
                                        
                                            <p>2. The Long Plain First Nation School will offer a limit of $300.00 in assistance as a contribution of costs associated with pictures, attire, rings, and any other graduation expenses.</p>
                                            
                                            <p>3. The Long Plain First Nation School will pay for any graduation fees required by the high school.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Off-Reserve Graduates Assistance</h2>
                                        
                                        
                                            <p>4. The Long Plain First Nation School will offer a limit of $300.00 in assistance as a contribution of costs associated with pictures, attire, rings, and any other graduation expenses.</p>
                                            
                                            <p>5. The Long Plain First Nation School will pay for any graduation fees required by the high school.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Other Awards</h2>
                                        
                                        
                                            <p>6. The Prairie Rose Award – The Arrowhead Development Corporation will offer an award of $200.00 to the graduate who has achieved the highest academic grade point average.  Official high school transcripts should be requested from the high schools.</p>
                                            
                                            <p>7. The Mikinak Award - The Arrowhead Development Corporation will offer an award of $200.00 to the graduate who has achieved perfect attendance in the last school year:  this award may vary from year to year.</p>
                                        
                                            <p>8. The White Buffalo Award - The Arrowhead Development Corporation will offer an award of $200.00 to the graduate who has displayed qualities o congeniality within the community among peers, with education staff, and in high schools.  This would require support letters from peers, community, and high school.</p>
                                        
                                            <p>9. The Thunderbird Award - The Arrowhead Development Corporation will offer an award of $200.00 to the graduate who has demonstrated excellence in high school sports activities.</p>
                                        
                                            <p>10. The Wolf Award - The Arrowhead Development Corporation will offer an award of $200.00 to the graduate who has achieved a grade twelve diploma in spite of any disability.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Notes</h2>
                                        
                                        <ul>
                                        
                                            <li>
                                                <p>Parents are encouraged to contribute the remaining balance to assist their children with graduation costs.</p>
                                            </li>
                                            
                                            <li>
                                                <p>These amounts will be offered to all on/off reserve students equally, regardless of financial situation.</p>
                                            </li>
                                            
                                        </ul>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>High School Academic Incentive Policy</h2>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>
                                        <h2>Rationale for Revision</h2>
                                        
                                        <p>There has been a major challenge in awarding the incentive because different high schools do not report monthly attendance updates. This compromises the accountability procedure when there is no paperwork.</p>
                                        
                                        <p>Effective September, 2014, the incentive program will be based on academic merit for each school year.  Incentive will not be issued on a monthly basis.</p>
                                        
                                        <p>The incentive will be available to on-reserve/off reserve students who are in grades 9 to grade 12.  It will be $50.00 per credit earned or course passed during the ten month school year.  Students will be awarded the monetary incentive after the first semester and at the end of the school year based on their transcript</p>
                                        
                                        <p>Students must provide their report cards/transcript to Director of Education or designate.  These can be:</p>
                                        
                                        <ul>
                                        
                                            <li>
                                                <p>Mailed to Box 430, Portage la Prairie MB   R1N 3B7</p>
                                            </li>
                                            
                                            <li>
                                                <p>Faxed to 1-204-252-2012</p>
                                            </li>
                                            
                                            <li>
                                                <p>Emailed to or dropped off at the Administration Building</p>
                                            </li>
                                            
                                            
                                        </ul>
                                        
                                        <p>Cheques will be mailed to off-reserve high school students.  On-reserve high school students can pick theirs up at the administration building.  There will be a $75.00 Christmas incentive for any student who is registered in grade 9 to grade 12 on December 1st.</p>
                                        
                                        <div class="divider divider-center"><i class="icon-circle"></i></div>

                                        
                                    </div>

                                    <!--========== 9 Public Works ==========-->
                                    <div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-25" aria-labelledby="ui-id-45" role="tabpanel" aria-hidden="true" style="display: none;">
                                        
                                        <h2>Public Works</h2>
                                        
                                        <p>The Public Works Building is located along Dakota Trail. The building is 60’ x 232’ in size and houses the Bands heavy equipment and the school buses. According to the Asset and Condition Report prepared by Neegan Burnside in 2013, the First Nation has 57.08 kilometers or 32.68 miles of roads and lanes. The non-existent roads not in use are 4.60 kilometers, 47.40 kilometers or 29.62 miles are currently in use and 9.68 kilometers or 6.05 miles of lanes. </p>
                                        
                                        <img src="@Url.Content("~/Content/images/departments/publicworks/img1.jpg")" alt="Blog Single">
                                        <footer>Photo of Long Plain Public Works Building 2016 </footer>
                                        
                                        <br>
                                        <p>128 Dakota Trail  
Long Plain Reserve No.6
Band 287 - Treaty No. 1
Box 430 Portage La Prairie,
Manitoba, R1N 3B7
Main Office Phone: 1-204-252-2731			Main Office Fax: 1-204-252-2012
Toll Free Number: 1-888-268-6438
</p>
                                        
                                        <p>The majority of roads and lanes within the reserve boundaries are owned by the First Nation, however some roads included in the report are owned by the RM of Portage la Prairie. The Council and the Rural Municipality of Portage are in discussion to transfer the surrendered roads back to the Long Plain Reserve.</p>
                                        
                                        <img src="@Url.Content("~/Content/images/departments/publicworks/img2.png")" alt="Blog Single">
                                                                                <div class="divider divider-center"><i class="icon-circle"></i></div>

                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  @*  </div>*@
    </section>
    <!-- #content end -->
