@{
    ViewBag.Title = "LandManagement";
}

		<section id="page-title">

			<div class="container clearfix">
				<h1>LONG PLAIN LANDS DEPARTMENT</h1>
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					
					<li class="active">Land Management</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col_two_fifth nobottommargin" >
						<img src="@Url.Content("~/images/lm1.jpg")" alt="lpland projects" title="lpland projects"/>
					</div>

					<div class="col_three_fifth nobottommargin col_last">

						<div class="heading-block">
							<h3>LAND MANAGEMENT PROGRAM </h3>
							
						</div>

						<p>The Land Management Program is funded through the Reserve Land and Environmental Management Program (RLEMP) Indigenous and Affairs Canada (INAC). The program establishes mechanisms for the First Nation to be involved in a wide spectrum of land management activities including; land use planning, environmental management and compliance. These activities enables the First Nation to exercise more control and management with respect to the land leases, land permits, land development projects, land use, land improvements and monitoring the overall condition of the lands.</p>

						
					</div>

					<div class="clear"></div><div class="line"></div>

					<div class="col_three_fifth">

						<div class="heading-block">
							<h3>LANDS HISTORY </h3>
							
						</div>

						<p>The signing on Treaty No. 1 was made on August 4, 1871 between the Canadas on behalf of the British Crown and seven Ojibway Chiefs representing the Ojibway nation. On June 1876 an adhesion was made to Treaty No.1 for the Ojibway Nations Long Plain, Swan Lake and Sandy Bay referred to as <strong>"the Portage Band"</strong>, resulting in separate reserve for each of the leaders Keeshkeemaquah, Yellowquill and for the Whitemud Band. 
</p>

						<p>Our homelands were minimized to approximately <strong>34,100 acres</strong> of land for the Ojibway First Nations occupying the Portage la Prairie area and southern area of Manitoba. During the Treating making era, Chief Keeshkeemaquah was provided <strong>10,800 acres</strong> of land on the north side of the Assiniboine River across from the first surveyed reserve in 1873 named the Wagner Reserve. Chief Keeshkeemaquah opposed to the reserve being on the south side of the reserve as his people had already established homes and occupied the lands on the north side of the river prior to the Treaty No.1.  </p>

<p>When the treaty making was finalized in 1876, the First Nation travel was confined to the reserve and movement was restricted by the Indian Affairs Indian Act policy. Some of our people gradually adopted the agricultural farm practices and clearing lands for farming; employment was scarce during this period and some our people had gain permission to work for area farmers.  </p>
					

					</div>

					<div class="col_two_fifth col_last" >
						<img src="@Url.Content("~/images/lm2.jpg")" alt="lpland projects" title="lpland projects" style="padding-top: 126px;"/>
					</div>
                    
                   <div class="clear"></div><div class="line"></div> 

					<div class="col_two_fifth  nobottommargin">
						@*<img src="@Url.Content("~/images/lm3.jpg")" alt="lpland projects" title="lpland projects"/>*@
                        <div class="fslider" data-arrows="false" data-animation="fade" data-thumbs="true">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide" data-thumb="@Url.Content("~/images/lm3.jpg")"><img src="@Url.Content("~/images/lm3.jpg")" alt="Slider 1"></div>
									<div class="slide" data-thumb="@Url.Content("~/images/lm4.jpg")"><img src="@Url.Content("~/images/lm4.jpg")" alt="Slider 2"></div>
									<div class="slide" data-thumb="@Url.Content("~/images/lm5.jpg")"><img src="@Url.Content("~/images/lm5.jpg")" alt="Slider 3"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="col_three_fifth nobottommargin col_last">

						<div class="heading-block">
							<h3>LAND MANAGEMENT AUTHORITY  </h3>
							
						</div>

						<p>The First Nation lands were controlled and managed by Indian Affairs Canada from 1876 to 1981, a period of 105 year period. All matters concerning land transactions, roads, natural resources and agricultural leases and permits required the permission of the Crowns and Indian Affairs representatives. All land lease had to be approved by the Minister of Indian Affairs. The First Nation had minimum authority to farm and benefit from the land. </p>
                        
<p>In 1981, a referendum was held to accept the administration of its lands under Section 60 of the Indian Act and to opt out of Section 74 of the Indian Act Election. These two matters were voted on at the same referendum and were accepted and passed by the members.</p>

<p>Section 60 of the Indian Act gave the Band Council the authority to control and manage the First Nation lands, negotiate and sign leases and permits on behalf of the Minister of Indian Affairs Canada. </p>

<p>Section 74 allowed the First Nation to opt out of the Indian Act Election Regulations and to establish its own election system called the Band Custom Election Act. 
</p>

						
					</div>

<div class="clear"></div><div class="line"></div>

					<div class="container clearfix">

						<div class="heading-block center">
							<h2>Diagramatic view of Long Plain Land Management</h2>
							
						</div>

						<div class="col_full">

							<img data-animate="fadeIn"  src="@Url.Content("~/Images/land-management.png")" alt="">

						</div>

					</div>

				
				</div>

				

			</div>

		</section><!-- #content end -->

