@{
    ViewBag.Title = "OurFuture";
}

 <script>
     function showDiv(val) {
         if (document.getElementById('openDiv' + val.id).style.display === "block") {
             $('#openDiv' + val.id).css("display", "none");
             document.getElementById(val.id).innerHTML = "Read More";
         }
         else {
             $('#openDiv' + val.id).css("display", "block");
             document.getElementById(val.id).innerHTML = "Collapse";
         }

     }
	</script>

<section id="page-title">

			<div class="container clearfix">
				<h1>FIRST NATION PROFILE</h1>
				<ol class="breadcrumb">
					<li> - <a href="#">Home</a></li>
					
					<li class="active">Land Code</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="col-md-12">
                    
                    

<div class="title-block"><h3> THE FIRST NATION</h3></div>
<div class="expanded-content">
<p>                                
The Long Plain First Nation (LPFN) reserve is called Ga-Ke-Nush-Koo-De-Ag amongst the Ojibway Tribes of southern Manitoba. The word Ga-Ke-Nush-Koo-De-Ag in the Ojibway languagemeans "long plain" and refers to the geography of the lands. The lands are situated above and along the west bank of the Assiniboine River. </p>

<p>
Our Ojibway ancestors favoured the long natural open plains of the area. Oral history past down from our ancestors to elders tells the importance of the plains. Our people preferred this area for many reasons: <strong>camping and staging area, organic farming, strategic hunting area for wildlife and bison, and a natural lookout point. </strong>
</p>



 <div id="openDiv1"  style="display:none;" >
 <p>
Our ancestors hunted mainly Bison which was the main source of food. Bison were also hunted for their thick fur and hide which were traditionally processed to make clothing and the bones were made into tools. The area also provides other sources of food like elk, deer and rabbits. The area was on the path of the central flyway of the waterfowl which our people hunted every spring and fall. </p>
<p>
The Assiniboine River flows along the eastern banks of the reserve. Our people depended on the river for another food source setting nets for fishlike sturgeon and walleye. They hunted smaller mammals such beaver, muskrats and mink to make clothing. The tall white popular trees along the Assiniboine River were close to plains. These tall trees were used for building log homes in the winter. </p>
<p>
After Treaty No. 1 was signed, Long Plain became reserve land or Crown lands, which were controlled and managed by Indigenous and Northern Affairs Canada representatives, however in the last few decades; the First Nation has gradually taken control and manages of the lands. Management of our lands has led to land improvement and agricultural leasing. </p>
<p>
Long Plain First Nation reserve has no land use plan and land use planning to date has been on a project to project basis with only specific project site plans. The First Nation Government has identified the need for a land use plan and planning process that will enhance future economic development and land management. </p>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="1" class="expand">Read More</a></div>

</div>
 
<div class="title-block" style="float:left; width:100%;">
<h3>OUR VISION STATEMENT</h3>
</div>
<div class="expanded-content">
<p>
"The Long Plain First Nation Lands Department has been given the responsibility to develop a land use plan for our lands and properties. In planning for the future developments we must always keeping in mind that the Long Plain Anishinabeg have a special relationship with the lands, to use the lands for necessity and well-being and to develop our lands for present and future generations."</p>
</div>


<div class="title-block" style="float:left; width:100%;">
<h3>OUR MISSION STATEMENT</h3>
</div>
<div class="expanded-content">
<p>
"With the advice, knowledge and experience of our Community Leaders, Community Members, Elders and Youth, the Advisory and Working Groups, the Lands Department will prepare a Land Use Plan for the First Nation community and urban properties that will reflect our aspirations, traditions, culture, values and customs." </p>
</div>


<div class="title-block" style="float:left; width:100%;">
<h3>COMPREHENSIVE LAND USE PLAN PROJECT</h3>
</div>
<div class="expanded-content">
<p>
"The Comprehensive Land Use Plan (CLUP) means to the First Nation is researching our culture and historical past, gathering information on our demographics, taking inventory of our natural resources, infrastructure and current developments and using the Geographic Information System technology to develop a land use plan.   The CLUP shall also provide the First Nation with an economic development plan for the main and urban reserves. </p>

</div>

<div class="title-block" style="float:left; width:100%;">
<h3>1.	INTRODUCTION</h3>
</div>

<div class="expanded-content">
<p>
The Long Plain First Nation Comprehensive Land Use Plan (CLUP) was prepared by the Long Plain Lands Department. The Lands Department organized two groups to work on the land use plan; the Working Group and Advisory Group. These groups gathered and provided the information and knowledge required for the land use plan.</p>
<p>
In January 2015, the Long Plain First Nation (LPFN) Lands Department submitted a proposal to Indigenous and Northern Affairs Canada for land use plan funding for the Phase I of the planning process. This phase was completed in a two month period and focused on developing a land use planning process for the working and advisory. The planning process set out the purpose of the plan, capacity building in land use planning, establishing vision and mission statements, setting goals and establishing guiding principles. </p>

 <div id="openDiv2"  style="display:none;" >
<p> 
In March 2015, the LPFN Lands Department submitted a follow-up proposal to Indigenous and Northern Affairs Canada for Phase II of the planning process. This phase focused on researching and collecting history, demographics, programs information, socio-economic developments, infrastructure data, to develop a draft land use plan, drafting of land use policies, and investing into the Geographic Information System and Global Positioning System technology to map areas for development and preservation. </p>
<p>
In March 2016, the LPFN Lands Department submitted another proposal to Indigenous and Northern Affairs Canada for Phase III to complete Comprehensive Land Use Plan for the First Nation. In Phase III, follow-up meetings and gatherings were held to with the Advisory Group, Elders, Youth and community members to review and finalized the Draft Land Use Plan and present to the community. </p>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="2" class="expand">Read More</a></div>

</div>

<div class="title-block" style="float:left; width:100%;">
<h3>2.	BACKGROUND</h3>
</div>
<div class="expanded-content">
<p>
The main reserve is called Long Plain Reserve No. 6. It is located 14 km southwest of Portage La Prairie, Manitoba and 98 kilometers west of Winnipeg and 10 kilometers south off of Highway No. 1 and 16, and on Highway No. 305. The southeast boundary of the reserve runs along the west bank of the Assiniboine River and extends north and west from the river. </p>
<p>
In 1980, the LPFN Council successfully negotiated 45 acres of available federal surplus land from Canada as part of Bands Treaty Land Entitlement claim. The property became reserve in August 1981. The surplus lands are located adjacent to the City of Portage la Prairie.  The site was home to the Portage Indian Residential School for over hundred years and in 1982 the former residential school building was transformed into the Yellow quill College Inc. The college provided training and education to surrounding First Nations for over 10 years. The property is now called "Keeshkeemaquah Reserve", named after the last LPFN hereditary Chief.   </p>

 <div id="openDiv3"  style="display:none;" >
<p>
In 2004, on behalf of the First Nation, LPFN Trust purchased 2.81 acres of prime property from Manitoba Hydro located at 480 Madison Street in the City of Winnipeg, Manitoba. The land acquisition came with the former Manitoba Hydro maintenance building which has since been renovated and converted into an education facility. The property received pre-designation for leasing on July 12, 2012. The property became Long Plain Madison Indian Reserve No. 1 on May 14, 2013 with reserve status. This 2.81 acre property in is the planning stages of development.</p>


<p>
As of July 15, 2016, the First Nation owns 16,535.8acres of land equal or 25.83 square miles of lands; 12,755.8 acres or 19.93 square miles has Reserve or Crown status; 3,780 acres is presently in the process of land conversion to reserve status.The majority of the First Nation lands are used for agriculture. The remaining lands are used for community development and natural areas. </p>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="3" class="expand">Read More</a></div>


</div>

<div class="title-block" style="float:left; width:100%;">
<h3>3.	COMPREHENSIVE LAND USE PLAN PROJECT</h3>
</div>
<div class="expanded-content">
<p>
The purpose of the Comprehensive Land Use Plan (CLUP) is to ensure the First Nation lands are used in a sustainable way. We need to plan for the future by protecting and preserving the natural areas at the same time improving and maximizing the production of agricultural lands, designating areas for community development by zoning. The plan will also ensure the best practical choices for the use of land are made.
</p>
<div class="fancy-title title-border"style="float:left; width:100%;"><h3>3.1	Comprehensive Land Use Plan Phase I – 2015</h3></div>

<p>The first phase of the Comprehensive Land Use Plan (CLUP) Project was to develop a planning process for the First Nation planning groups to be used as a guide. The LPFN Lands Department coordinated gatherings and meetings with the program managers to build capacity in land use planning. 
The CLUP Working Group comprised of the Land Manager, Land Use Coordinator, Land Use Facilitator and Lands Portfolio Councilor. Responsibility of the Working Group was to organize and coordinate gatherings with the planning groups in developing a land use plan framework and process for Phase II. </p> 

 <div id="openDiv4"  style="display:none;" >
<p>
The CLUP Advisory Group comprised of the Long Plain First Nation Program Managers from Housing, Social Services, Economic Development, Health, Education, Public Works, Water and Sanitation, Land Management Departments and Stakeholders: Long Plain First Nation Trust and Arrowhead Development Corporation.</p>

<div class="fancy-title title-border style="float:left; width:100%;""><h3>3.2 Comprehensive Land Use Plan Phase II 2015-2016</h3></div>

<p>
The Comprehensive Land Use Plan (CLUP) Phase II focused on the developing a draft land use plan and setting goals and guiding principles for the developmental process. The goals of the CLUP Phase II Project were to develop a draft land use plan by:</p>

<ul class="content-listing">

<li> - Appointing and establishing the Working and Advisory groups by the Band Council (CLUP Working Group and Advisory Group). </li>
<li> - Developing terms of reference for the Working Group and Advisory Group;</li>
<li> - Developing a Vision Statement and Mission Statement for the First Nation as it relates to land use planning;    </li> 
<li> - Coordinating Program Managers and Stakeholders gatherings and workshops to discuss program areas in existing state and discuss future requirements of housing, economic, social, health, education, recreation, public works and infrastructure, land use, traditional and cultural development;</li>
<li> - Researching and collecting LPFN traditional and historical information;</li>
<li> - Developing a draft community profile; and </li>
<li> - Building capacity development in GIS mapping technology and data base. </li>
</ul>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>3.3 Comprehensive Land Use Plan Phase III2016 – 2017</h3></div>

<p>
The LPFN Lands Department submitted a new proposal to Lands and Economic Development Services Program, Indigenous and Northern Affairs Canada for the Comprehensive Land Use Plan Phase III Project.  The CLUP project will develop and provide the community with a land use plan to include:</p>
<ul class="content-listing">
<li> - Future  economic development land use areas for the LPFN main reserve and the urban properties;</li>
<li> - Zoning or designated areas and mapping for commercial, industrial, agricultural, residential, educational, traditional and spiritual, burial, recreational, roads and right-a-ways, natural areas and special areas;</li>
<li> - Draft by-laws and policies for commercial, agricultural, residential, educational, traditional and spiritual, burial, recreational, roads and right-a-ways, green space and natural areas and special areas;</li>
<li> - Draft and final First Nation Profile;</li>
<li> - Draft Environmental Management Plan;</li>
<li> - Identify future development areas;</li>
<li> - Develop maps for infrastructure, land, water, drainage and aquifer areas;</li>
<li> - Identify future parks and recreation areas;</li>
<li> - Provide an emergency plan and emergency service map;</li>
</ul>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="4" class="expand">Read More</a></div>

</div>


<div class="title-block" style="float:left; width:100%;">
<h3>4.	PLANNING AREA DESCRIPTION</h3>
</div>
<div class="expanded-content">
<p>
The main planning area is described as the Long Plain First Nation Reserve No. 6, located in south central Manitoba. Long Plain First Nation Reserve is mostly located and described as all those Townships 9 and 10, Range 8, west of the Prime Meridian containing seventeen square miles be the same more or less.</p>

<div class="fancy-title title-border"><h3>4.1	Long Plain Reserve No.6 (main)</h3></div>

<p>The said reserve was set apart under the provisions of Treaty One and in 1876 for Chief Short Bear's Band and was located by J.L. Reid, D.L.S. The Reserve is described as being composed of Sections 32 and 33 and all those parts of Sections 34 and 35 on the left side of the Assiniboine River, in the said Township 9, and Sections 5, 8, 9, 16, 17, 20, 21, 27, 28, and 29 and all those parts of Sections 2, 3, 4, 10, 11, 14, 15, 22, 23, 25, and 26 along the western bank of the Assiniboine River said Township 10.
 </p>

 <div id="openDiv5"  style="display:none;" >
 <div class="col-md-12" style="text-align:center;margin:10px 0 20px 0"><img src="@Url.Content("/Images/future/future-img1.jpg")" class="image_fade border" alt="lpland future"/> </div>
<div class="fancy-title title-border"><h3>4.2	Long Plain Reserve No.6 (Keeshkeemaquah Reserve)</h3></div> 

<p>this land is considered as an extension of the main Reserve (LP Reserve No. 6), known and named as Keeshkeemaquah Reserve. The Reserve is located within the Rural Municipality of Portage la Prairie and adjacent to the City of Portage la Prairie in portions of Lots 50, 51, and 52 containing 18.31 hectares or 45 acres of land. It is situated along the western banks of the Crescent Lake and along Yellow quill Trail. 
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img2.jpg")" class="image_fade border" alt="lpland future"/> </div>
 </p>
 <p>
The First Nation Trust land was purchased in 1999, and remains or having fee simple of private land status, total lands in Long Plain lands 135 acres.  </p>

<div class="fancy-title title-border"><h3>4.3 Long Plain Madison Indian Reserve No.1</h3></div>

<p>Madison Indian Reserve is located at 480 Madison Street with the City of Winnipeg, Manitoba in Parcels A, B, C, D, E and F Plan 50250 WLTO exc. out of said Parcel E, all that portion contained within the limits of Lot 1 Block 1 Plan 1347: all mines and minerals vested in the Crown (Manitoba) by the Real Property Act in RL 39 and 40 Parish of St. James.
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img3.jpg")" class="image_fade border" alt="lpland future"/> </div>
  </p>
 <p>
This reserve land was formerly owned by Manitoba Hydro and purchased in 2007 and became reserve status in 2013.  The LPFN Trust acquired more land in 2014. </p>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="5" class="expand">Read More</a></div>
 
 


</div>


<div class="title-block" style="float:left; width:100%;">
<h3>5.	GUIDING PRINCIPLES</h3>
</div>
<div class="expanded-content">
<p>
Based on our First Nation philosophy, religion, history, traditions, culture, experiences, the following principles shall be used in the planning process:</p>

<ul class="content-listing">
<li> - Our people believed our ancestors were placed on the earth; and universe, the sky and lands were made by the creator; </li>
<li> - That every natural object and living being has spirit, meaning, and purpose;</li>
<li> - That the natural world be respected and preserved for future generations;</li>
<li> - That we shall always give thanks to our creator for the use of lands;</li>
<li> - That we keep in mind our ancestors have occupied and lived on the lands what is now called Manitoba;</li>
<li> - That the lands acquired and occupied by our ancestors were considered to be our homelands;</li>
<li> - That we respect our traditions and ceremonies areas in the future planning process;</li>
<li> - That we respect and consider the natural state of the land and wildlife; </li>
<li> - That we designate land for potential economic and community developments areas;</li>
<li> - That we building awareness and capacity development with the Tribal Administration and community members;</li>
<li> - That we can manage our lands and property in a sustainable way;</li>
<li> - That we assess and analyze the socio-economic needs and requirements of community to ensure appropriate plans are made for future development; and,</li>
<li> - That we adopt modern planning strategies, technologies and concepts such as GIS and GPS mapping and zoning) for the land use plan. </li>
</ul>
</div>


<div class="title-block" style="float:left; width:100%;">
<h3>6.	LAND USE POLICY</h3>
</div>
<div class="expanded-content">
<p>
The Long Plain First Nation (LPFN) Government recognizes that land use policies are required to regulate future land use and new development. They also recognize that there are legal, environmental, physical and spiritual aspects of the land need to be respected and considered. Future use of lands for residential, economic, education, recreation, health or infrastructure must follow the traditional protocol for the use of land.  </p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.1 Residential Development</h3></div>

<p>the First Nation Government (FN) recognizes that adequate, safe and efficient housing is necessary for all members residing on First Nation lands. Lands shall be designated for future housing development sites. The FN Government shall designate future residential development areas with specific subzones, subdivision, lots, numbers, types and sizes; </p>

 <div id="openDiv6"  style="display:none;" >
<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.2 Economic Development</h3></div>

<p>the First Nation Government (FN) recognizes economic development is necessary to establish a sustainable local economy; provide business support services, encourage small business, develop business and commercial ventures both on the main reserve and on the urban reserve properties. Lands shall be zoned or designated for economic development areas, agricultural lands, industrial and commercial development and tourism areas. Urban reserve properties such as the Long Plain Madison Indian Reserve No. 1 and Long Plain Reserve No. 6 (Keeshkeemaquah Reserve) have been designated for commercial development and leasing and is requires an official development plan;</p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.3 Education</h3></div>

<p>the First Nation Government recognizes that education is our future well-being, economic and social development. Education is the basis of building a strong community. Planning for new education facilities are required to meet the future education needs of the growing on-reserve population. Lands for educational purposes shall be designated or zoned for educational purposes. </p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.4 Recreation</h3></div>

<p>the First Nation Government recognizes that promoting recreational programs and activities in the community increases well-being and healthy lifestyles for our members. Lands shall be identified and set aside for present and future recreational purposes that will enhance the quality of life of our members;</p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.5Health</h3></div>

<p>the First Nation Government recognizes that a healthy environment, lifestyles and health support services nurtures the physical, mental and spiritual well-being of the community. The FN Government shall develop new health program, services, and facilities for the increasing population of the community. They shall designate lands for future health related developments and facilities such as Elders Health Care Facility, Palliative Care Centre, Retirement Home Complex, Emergency Care Centre and Drug and Alcohol Prevention and Treatment Centre.  </p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.6 Infrastructure</h3></div>

<p>the First Nation Government recognizes that to support socio-economic development in our community, appropriate infrastructure is required. Transportation routes, water and sewer services, drainage systems, electrical and communications systems are required to support future development. Lands required for future infrastructure systems shall be designated. Lands shall be surveyed and mapped with Geographic Information System and Global Positioning System technology. </p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.7 Ceremonial and Cultural Areas</h3></div>

<p> the First Nation Government recognizes that our ceremonial and cultural areas are special to our community. The First Nation people have a special relationship with our lands and territory. In the past, our ancestors used the specific land areas for ceremonial and cultural purposes. These lands shall be identified, preserved and protected by land designation. </p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>6.8Natural Areas</h3></div>

<p> the First Nation Government recognizes that as First Nations, the Creator has given our people a religion based on the natural world, and that all living species and natural resources are connected spiritually, that we must share the lands with wildlife, waterfowl and other living animal species. We must identify and preserve the natural environment from encroachment. </p>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="6" class="expand">Read More</a></div>



</div>


 
<div class="title-block" style="float:left; width:100%;">
<h3>7.	ZONING </h3>
</div>
<div class="expanded-content">
<p>
Zoning is a practice of designating areas which regulate the use of land, building and purposes. Zones of designated areas are intended to identify sufficient lands for various types of development. Zoning shall be used LPFN reserve lands. </p>
<p><strong>Under the Indian Act - Section 81 (1) (Council may make By-laws): </strong></p>
<p>"The council of a band may make by-laws not inconsistent with this Act or with any regulation made by the Governor in Council or the Minister, for any or all of the following purposes, namely, subsection:</p>
<p>(g) the dividing of the reserve or a portion thereof into zones and the prohibition of the construction or maintenance of any class of buildings or the carrying on of any class of business, trade or calling in any zone.</p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>7.1 ZONING PLAN/DESIGNATION </h3></div>

<p>
The CLUP Planning Team shall identify areas of current land use and produce zoning maps by:</p>

 <div id="openDiv7"  style="display:none;" >
<ul class="content-listing">
<li> - Collecting Global Position System (GPS) data of LPFN residential and band owned buildings;</li>
<li> - Collecting Geographic Information System (GIS) data from orthomosaic land and satellite imagery to classify land areas, the natural features such as land, water, forestry, vegetation; new developments such as infrastructure (hydro lines and poles, towers, and agricultural development);</li>
<li> - Collecting GIS information in the form of shape files to provide a comprehensive overview of LPFN land base,  agricultural improvement planning,  soil characteristics and classification, regional elevation data, and environmental data;</li>
<li> - Developing reusable models for collected data for drainage plans, determine streamlines, vegetation indexes, and forecast future land uses.</li>
</ul>


 <div class="fancy-title title-border" style="float:left; width:100%;"><h3>7.1 Current Zoning Area Map </h3></div>

<p>
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img4.jpg")" class="image_fade border" alt="lpland future"/> </div>

  
The Current Zoning Area Map illustrates the current areas which are used for the Band purposes; the majority of land is used for agriculture. Lands undeveloped are natural areas which include forested, pasturelands and creeks and waterways. </p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>7.2Residential Areas/Main Reserve </h3></div>

<p>
As of July 31, 2016, the Long Plain First Nation Housing Authority Ltd. (LPFNHA) maintains a total of 361housing units located throughout the community. There are a total of 168 band owned units, 193 Canada Mortgage and Housing Corporation (CMHC) units and 2 privately owned homes Of the 361 housing units on the reserve, 259 units are connected to the main water and sewer line(s); 102 units are not connected to the main line and dependent on water truck delivery service; 58 units have water holding tanks and septic fields, 44 units have cistern and septic fields.</p>
<p>LPFN members whom are allocated Band owned or CMHC rental units are responsible for:</p>

<ul class="content-listing">
<li> - General up-keep and maintenance of the residential unit;</li>
<li> - Employed tenants with band owned units are required to pay for water & sewer, garbage disposal user fees and are hydro expenses;</li>
<li> - Employed tenants with CMHC units are required to pay for water & sewer, garbage disposal user fees and are hydro expenses, rent is subsidized,</li>
<li> - Unemployed tenants whom are allocated Band-owned and CMHC housing units' user fees, hydro expenses as well as rent fees are covered or subsidized by the Social Services Program. </li>
</ul>
<p>
All residential units are built and located throughout the community. For future housing developments, houses units must be constructed along the main roads where the water and sewer lines and fire hydrants are located. </p>
<p>
Strategic planning is required for future on-reserve residential development. Housing or residential development areas on the reserve must be zoned and residential lots shall be assigned and designated. The following maps were produced to identify the existing housing locations and lots.</p>




<p><strong><span class="dropcap2"> 7.2.1</span> Current Residential Location Map </strong> </p>
<p>
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img5.jpg")" class="image_fade border" alt="lpland future"/> </div>
As shown above, the majority of residential units are situated along the Yellow quill Trail East and West. Most of these units are connected to the main water and sewer line. </p> 

<p><strong><span class="dropcap2">7.2.2</span> Current Residential Zoning Map</strong></p>
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img6.jpg")" class="image_fade border" alt="lpland future"/> </div>


<p><strong><span class="dropcap2">7.2.3</span>  Proposed Residential Zone Map </strong></p>
 
<p>
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img7.jpg")" class="image_fade border" alt="lpland future"/> </div>
The map shows the current residential areas and future development areas. Future residential construction must be located in the new zoned residential areas shown in light blue in the above map. </p> 


<div class="fancy-title title-border" style="float:left; width:100%;"><h3>7.6 Residential Areas/Keeshkeemaquah Reserve</h3></div>

<p>
In 2008, the first housing unit was built in the 39 lot subdivision at the Keeshkeemaquah Reserve. To date the Housing Department has built 20 additional CMHC housing units and construction has started on a (4) four-unit apartment complex and (4) four housing units.</p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>7.6Residential Areas </h3></div>

<p>
In addition, Long Plain First Nation also owns 33 Urban Housing Units in Winnipeg, Brandon and Portage la Prairie, Manitoba. These units serve as another shelter resource for the members, who live in the urban centres. These units may be used for post-secondary students and members choosing to live in urban centres.	</p>		
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="7" class="expand">Read More</a></div>


</div>



<div class="title-block" style="float:left; width:100%;">
<h3>9.0 ECONOMIC DEVELOPMENT</h3>
</div>
<div class="expanded-content">

(Not completed) 
</div>




<div class="title-block" style="float:left; width:100%;">
<h3>10.0     EDUCATION</h3>
</div>
<div class="expanded-content">
<p>
The First Nation Government recognizes that education for our membership is the basis of future development of the community. Present educational facilities will be officially zoned for educational purposes. Future expansion of education services and infrastructure shall be planned and zoned for educational development and services;</p>

<div class="fancy-title title-border" style="float:left; width:100%;"><h3>10.1 Long Plain School </h3></div>

<p>
Long Plain School was built in 1988 on the Southwest Quarter of Section 22 Township 10 Range 8 WPM along the Yellow quill Trail East Road. According to the Canada Land Survey Records (CLSR), the school area was surveyed in 1999 and lies in Lot 2 which is 8.42 hectares or 20.81 acres of land. The school building is 2,200 square meters or 6,661.8 square feet in size. </p>

 <div id="openDiv8"  style="display:none;" >
<p>

<span style="float:right; margin:0 10px 10px 10px; text-align:right; width:420px;"><img src="@Url.Content("/Images/future/future-img8.png")" class="image_fade border" alt="lpland future" /> 
<span style="float:left; width:100%; color:#777; font-size:12px; margin:10px 0; text-align:center">Photo by Land Management Department 2016</span></span>
Long Plain School is locally controlled school and delivers education from nursery level to grade nine. The enrolment at the school is 239 students.  On-reserve students are transported to the school daily. The high school students are bused to various high schools in Portage la Prairie, Manitoba.</p>



<div class="fancy-title title-border" style="float:left; width:100%;"><h3>10.2 Future Education Plan </h3></div>

<p>
"The primary purpose of zoning is to segregate uses that are thought to be incompatible. In practice, zoning also is used to prevent new development from interfering with existing uses and/or to preserve the "character" of a community. However, it has not always been an effective method for achieving this goal. Zoning is commonly controlled by local governments such as counties or municipalities, though the nature of the zoning regime may be determined or limited by state or national planning authorities or through enabling legislation."  </p>
<p>
<strong>For notes and reference, </strong></p>
<p>
Basically, urban zones fall into one of five major categories: residential, mixed residential-commercial, commercial, industrial and spatial (e. g. power plants, sports complexes, airports, shopping malls etc.). Each category can have a number of sub-categories, for example, within the commercial category there may be separate zones for small-retail, large retail, office use, lodging and others, while industrial may be subdivided into heavy manufacturing, light assembly and warehouse uses. </p>
<p>
The LPFN Land Management Department shall be responsible for the management of lands under the authority of Section 60 of Indian Act and lands designated under Section 53 of the Indian Act and other sections of the Indian Act regarding lands;
<div class="col-md-12" style="text-align:center;margin:10px 0"><img src="@Url.Content("/Images/future/future-img9.jpg")" class="image_fade border" alt="lpland future"/> </div>
</p>
</div>

 <div class="col-md-12"><a  onclick="showDiv(this)" id="8" class="expand">Read More</a></div>
 

 
</div>	
           
</div>  
					

					
					</div>

				</div>

            

		<//section>
